<%= @user.name %>
 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>


<h1>Users#show</h1>
	<h2>Books</h2>
		<h3> <%= @user.name %> </h3>
	<table width="500">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opinion</th>
			</tr>
		</thead>
		<tbody>
			<% @books.each do |book| %>
				<tr align="center">
					<td></td>
					<td><%= book.title %></td>
					<td><%= book.body %></td>
					<td> <%= link_to "show", book_path(book.id) %></td>
					<td> <%= link_to "edit", edit_book_path(book.id) %>
					<td> <%= link_to "Destroy", destroy_book_path(book.id), method: :delete %></td>
				</tr>
			<% end %>
			<%= paginate @books, class: "pagenate" %>
		</tbody>
	</table>
