<main>
 	<div class="container">
 		<div class="row">
 			<div class="col-lg-2">
				<div class="side">
					<h3>User Info</h3>
						<h4><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></h4>
						<h4><%= @user.name %></h4>
						<h4><%= @user.introduction %></h4>
						<% if @user.id == current_user.id %>
							<p><%= link_to edit_user_path(@user), class: "edit_user_#{@user.id}" do %>
									<i class="btn btn-primary"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></i>
								<% end %></p>
						<% end %>
						<%= form_for(@book) do |f| %>   <!--url: book_path-->
							<% if @book.errors.any? %>
								<h2><%= @book.errors.count %>件エラー発生</h2>
								<% @book.errors.full_messages.each do |message| %>
									<li> <%= message %> </li>
								<% end %>
							<% end %>
							<h3>New Book</h3>
							<h4>Title</h4>
							<%= f.text_field :title, class: "book_title" %>
							<h4>Opinion</h4>
							<%= f.text_area :body, class: "book_body" %>
							<br> <%= f.submit 'Create Book', class: "btn btn-primary" %> </br>
						<% end %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="index">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @books.each do |book| %>
								<tr align="center">
									<td><%= attachment_image_tag book.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %></td>
									<td><%= book.title %></td>
									<td><%= book.body %></td>
									<td><%= link_to "show", book_path(book.id), class: "book_#{book.id}" %></td>
								</tr>
							<% end %>
							<%= paginate @books, class: "pagenate" %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
 	</div>
</main>
