<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="topmenu">
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to "Home", user_path(current_user.id), class: "home" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "User", users_path, class: "users" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Books", books_path, class: "books" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Log-out", destroy_user_session_path, class: "logout", method: :delete %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to "Home", "http://localhost:3000/top/", class: "home" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "About", class: "about" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Sign-up", new_user_registration_path, class: "sign_up" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "sig-in", new_user_session_path, class: "sign_in" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>


new_user_session_path,