<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="topmenu">
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to "Home", user_path(current_user.id) %>
            </li>
            <li class="nav-list-item">
              <%= link_to "User", users_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Books", books_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Log-out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to "Home" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "About" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Sign-up", "http://localhost:3000/users/sign_up" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Log-in", "http://localhost:3000/users/sign_in" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
