<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topmenu">
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to user_path(current_user.id), class: "home", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to users_path, class: "users", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>User</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to books_path, class: "books", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Book</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to destroy_user_session_path, class: "logout", method: :delete, target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Log out</button>
              <% end %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to top_path, class: "home", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to top_path, class: "about", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>About</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to new_user_registration_path, class: "sign_up", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up</button>
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to new_user_session_path, class: "sign_in", target: :_blank do %>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>sign in</button>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
