<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="sidemenu">
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to "Home" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "User" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Books" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Log-out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to "Home" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "About" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Sign-up" %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Log-in" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
